<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/quanlysinhvien?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping class="pojos.Account" package="pojos" resource="pojos/Account.hbm.xml"/>
    <mapping class="pojos.ClassRoom" package="pojos" resource="pojos/ClassRoom.hbm.xml"/>
    <mapping class="pojos.Student" package="pojos" resource="pojos/Student.hbm.xml"/>
    <mapping class="pojos.CalenderCourse" package="pojos" resource="pojos/CalenderCourse.hbm.xml"/>
    <mapping class="pojos.ClassRoomCourse" package="pojos" resource="pojos/ClassRoomCourse.hbm.xml"/>
    <mapping class="pojos.TableScore" package="pojos" resource="pojos/TableScore.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
